/*--------------------MAINWRAPPER--------------------*/
/***Generals parameters, my page's base***/
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../ressources/prism.png");
  color: white;
  background-repeat: cover;
}
